name: ci
on:
  push:
  pull_request:
  schedule:
  - cron: '0 1 * * 3'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'unfiltered' }}
    steps:
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: 17
        distribution: temurin
    - uses: actions/checkout@v6
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - run: sbt -v compile paradox
    - run: sudo apt-get install tree
    - run: tree target
    - uses: webfactory/ssh-agent@v0.9.1
      if: ${{ github.ref == 'refs/heads/master' && github.event_name == 'push' }}
      with:
        ssh-private-key: ${{ secrets.DEPLOY_KEY_1 }}
    - name: Push to gh-pages
      if: ${{ github.ref == 'refs/heads/master' && github.event_name == 'push' }}
      run: |
        git config --global user.email "74865306+unfiltered-app[bot]@users.noreply.github.com"
        git config --global user.name "unfiltered-app[bot]"
        # https://github.com/sbt/sbt-ghpages/commit/cbedd8edb8
        export SBT_GHPAGES_COMMIT_MESSAGE="auto commit on CI https://github.com/unfiltered/website/commit/${{ github.sha }}"
        sbt -v ghpagesPushSite
